In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Copy of Project EX..xlsx')

In [3]:
df.head()

,devName,price,landmarkDetails,powerStatusD,carpetArea,carpAreaUnit,lmtDName,furnishedD,bathD,transactionTypeD,...,sqFtPrD,ltOther,pmtUspWap,pmtUsp,sqFtPrice,OwnershipTypeD,facingD,amenFacingD,covAreaUnit,balconiesD
0,A,46500000,8201.2 Km from Priyadarshini Park,No/Rare Powercut,810,Sq-ft,Nalasopara West,Semi-Furnished,2,Resale,...,4500.0,NaN,Near fun fiesta theater,Near fun fiesta theater,4500.0,Co-operative Society,East,Main Road,12800.0,3
1,A,19500000,0.8 Km from Signature Business Park,No/Rare Powercut,756,Sq-ft,Kalyan,Unfurnished,2,Resale,...,8168.0,NaN,East Facing Property,East Facing Property,8169.0,Freehold,East,Garden/Park,12800.0,2
2,A&O,19500000,0.2 Km from Raheja Federation Garden,No/Rare Powercut,1460,Sq-ft,Saat Rasta,Semi-Furnished,5,New Property,...,NaN,NaN,NaN,NaN,NaN,Freehold,North - West,"Garden/Park, Pool",NaN,2
3,A&O,17500000,0.2 Km from Raheja Federation Garden,No/Rare Powercut,750,Sq-ft,Andheri West,Furnished,2,Resale,...,22353.0,NaN,NaN,NaN,22353.0,Freehold,West,"Garden/Park, Main Road",12800.0,1
4,A&O,8000000,0.7 Km from Ecstasy Business Park,No/Rare Powercut,390,Sq-ft,Borivali,Unfurnished,1,Resale,...,24444.0,NaN,East Facing Property,East Facing Property,24444.0,NaN,East,NaN,12800.0,NaN

In [4]:
df.columns

Index(['devName', 'price', 'landmarkDetails', 'powerStatusD', 'carpetArea',
       'carpAreaUnit', 'lmtDName', 'furnishedD', 'bathD', 'transactionTypeD',
       'propTypeD', 'bedroomD', 'propertyTitle', 'waterStatus', 'isLuxury',
       'isPrimeLocProp', 'tenantsPreference', 'isThisListingAPremiumOnly',
       'isAdvertiserOfThisListingAOwnerAndUnPaid', 'landAreaUnitD',
       'isLuxuryServiceAvailable', 'luxAmenitiesD', 'parkingD', 'amenities',
       'floorNo', 'adroomD', 'floorD', 'floors', 'bookingAmtExact',
       'availUnit', 'maintenanceD', 'maintenanceCharges', 'landmark', 'caSqFt',
       'ca', 'sqFtPrD', 'ltOther', 'pmtUspWap', 'pmtUsp', 'sqFtPrice',
       'OwnershipTypeD', 'facingD', 'amenFacingD', 'covAreaUnit',
       'balconiesD'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 45 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   devName                                   1092 non-null   object
 1   price                                     1092 non-null   int64
 2   landmarkDetails                           1092 non-null   object
 3   powerStatusD                              1092 non-null   object
 4   carpetArea                                1092 non-null   int64
 5   carpAreaUnit                              1092 non-null   object
 6   lmtDName                                  1092 non-null   object
 7   furnishedD                                1092 non-null   object
 8   bathD                                     1092 non-null   object
 9   transactionTypeD                          1092 non-null   object
 10  propTypeD                                 1092 non-null   object
 11  bedroomD                                  1092 non-null   int64
 12  propertyTitle                             1092 non-null   object
 13  waterStatus                               1092 non-null   object
 14  isLuxury                                  1092 non-null   object
 15  isPrimeLocProp                            1092 non-null   object
 16  tenantsPreference                         1092 non-null   object
 17  isThisListingAPremiumOnly                 1092 non-null   bool
 18  isAdvertiserOfThisListingAOwnerAndUnPaid  1092 non-null   bool
 19  landAreaUnitD                             1092 non-null   object
 20  isLuxuryServiceAvailable                  1092 non-null   bool
 21  luxAmenitiesD                             922 non-null    object
 22  parkingD                                  867 non-null    object
 23  amenities                                 1044 non-null   object
 24  floorNo                                   1002 non-null   object
 25  adroomD                                   768 non-null    object
 26  floorD                                    1002 non-null   object
 27  floors                                    1002 non-null   float64
 28  bookingAmtExact                           858 non-null    float64
 29  availUnit                                 809 non-null    float64
 30  maintenanceD                              890 non-null    object
 31  maintenanceCharges                        794 non-null    float64
 32  landmark                                  948 non-null    object
 33  caSqFt                                    959 non-null    float64
 34  ca                                        959 non-null    float64
 35  sqFtPrD                                   994 non-null    float64
 36  ltOther                                   154 non-null    object
 37  pmtUspWap                                 518 non-null    object
 38  pmtUsp                                    518 non-null    object
 39  sqFtPrice                                 960 non-null    float64
 40  OwnershipTypeD                            1005 non-null   object
 41  facingD                                   985 non-null    object
 42  amenFacingD                               913 non-null    object
 43  covAreaUnit                               959 non-null    float64
 44  balconiesD                                471 non-null    object
dtypes: bool(3), float64(9), int64(3), object(30)
memory usage: 361.6+ KB

In [6]:
df.drop('devName', axis=1, inplace=True)

In [7]:
df.carpAreaUnit.value_counts()

Sq-ft     1088
Sq-m         3
Sq-yrd       1
Name: carpAreaUnit, dtype: int64

In [8]:
df.loc[df.carpAreaUnit == 'Sq-m', 'carpetArea'] = np.round(df[df.carpAreaUnit == 'Sq-m'].carpetArea * 10.764).astype(int)
df.loc[df.carpAreaUnit == 'Sq-yrd', 'carpetArea'] = np.round(df[df.carpAreaUnit == 'Sq-m'].carpetArea * 9).astype(int)

In [9]:
df.drop('carpAreaUnit', axis=1, inplace=True)

In [10]:
df.drop('landmarkDetails', axis=1, inplace=True)

In [11]:
df.powerStatusD.value_counts()

No/Rare Powercut             1084
Less Than 2 Hour Powercut       7
2 To 4 Hours Powercut           1
Name: powerStatusD, dtype: int64

In [12]:
rated_dummies = pd.get_dummies(df.powerStatusD)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('powerStatusD', axis=1, inplace=True)

In [13]:
df.lmtDName.value_counts().to_csv('locality')

In [14]:
df.drop('lmtDName', axis=1, inplace=True)

In [15]:
rated_dummies = pd.get_dummies(df.furnishedD)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('furnishedD', axis=1, inplace=True)

In [16]:
df.loc[df.bathD == '> 10', 'bathD'] = '10'
df.bathD = pd.to_numeric(df.bathD)

In [17]:
rated_dummies = pd.get_dummies(df.propTypeD)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('propTypeD', axis=1, inplace=True)

In [18]:
rated_dummies = pd.get_dummies(df.transactionTypeD)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('transactionTypeD', axis=1, inplace=True)

In [19]:
df.bedroomD.value_counts()

2    453
1    314
3    243
4     65
5      9
6      5
8      2
9      1
Name: bedroomD, dtype: int64

In [20]:
df.drop('propertyTitle', axis=1, inplace=True)

In [21]:
df.waterStatus.value_counts()

Water Availability 24 Hours Available    1039
Water Availability 1 Hour Available        24
Water Availability 2 Hours Available       15
Water Availability 12 Hours Available       7
Water Availability 6 Hours Available        7
Name: waterStatus, dtype: int64

In [22]:
rated_dummies = pd.get_dummies(df.waterStatus)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('waterStatus', axis=1, inplace=True)

In [23]:
df.drop('isLuxury', axis=1, inplace=True)

In [24]:
rated_dummies = pd.get_dummies(df.isPrimeLocProp)
df = pd.concat([df, rated_dummies], axis=1)
df.drop('isPrimeLocProp', axis=1, inplace=True)

In [27]:
df.drop('tenantsPreference', axis=1, inplace=True)

In [30]:
df.drop('isThisListingAPremiumOnly', axis=1, inplace=True)

In [31]:
df.drop('isAdvertiserOfThisListingAOwnerAndUnPaid', axis=1, inplace=True)

In [34]:
df.drop('isLuxuryServiceAvailable', axis=1, inplace=True)

In [62]:
df['amenitiesCount'] = df.amenities.str.split().str.len()
df.loc[df.amenitiesCount.isna(), 'amenitiesCount']  = df.amenitiesCount.mean()

In [63]:
df.drop('amenities', axis=1, inplace=True)

In [68]:
df.loc[df.floorNo == 'Ground', 'floorNo'] = 0
df.loc[df.floorNo == 'Lower Basement', 'floorNo'] = -2
df.loc[df.floorNo == 'Upper Basement', 'floorNo'] = -1
df.floorNo = pd.to_numeric(df.floorNo)

In [70]:
df.loc[df.floorNo.isna(), 'floorNo'] = df.floorNo.mean()

In [72]:
df.loc[df.floors.isna(), 'floors'] = df.floors.mean()

In [73]:
df['floorRatio'] = df['floorNo'] / df['floors']

In [78]:
df.dropna(axis=1, inplace=True)

In [79]:
df.to_csv('alpha.csv')